/asterisk-cpp/aclocal.m4
/asterisk-cpp/examples/Test.o
/asterisk-cpp/config.status
/asterisk-cpp/configure
/asterisk-cpp/config.log
/asterisk-cpp/config.sub
/asterisk-cpp/config.guess
/asterisk-cpp/depcomp
/asterisk-cpp/nbproject/private/CodeAssistancePathMapper.properties
/asterisk-cpp/nbproject/private/Default.properties
/asterisk-cpp/missing
/asterisk-cpp/Makefile.in
/asterisk-cpp/Makefile
/asterisk-cpp/libtool
/asterisk-cpp/nbproject/project.xml
/asterisk-cpp/ltmain.sh
/asterisk-cpp/nbproject/configurations.xml
/asterisk-cpp/nbproject/private/configurations.xml
/asterisk-cpp/nbproject/private/private.xml
/asterisk-cpp/examples/Test
/asterisk-cpp/install-sh
/asterisk-cpp/examples/Makefile
/asterisk-cpp/*.lo
